.MainNav {
  padding-left: 10%;
  background-color: #2a2f4a;
}

.MainNav a {
  display: inline-block;
  margin-right: 8%;
  color: #ffffff;
  padding: 10px 0px;
  cursor: default;
  font-weight: 600;
  letter-spacing: 0.25em;
  line-height: 3.25em;
  text-transform: uppercase;
}

.PrisonListWrapper {
  display: flex;
  flex-wrap: wrap;
}

.AppContainer {
}

.PrisonCard {
  width: 17%;
  margin-left: 2.5%;
  margin-top: 15px;
}
